/* colours */
:root{
    --primary: #145026;
    --secondary: #1c6933;
    --title: #ffffff;
  }
  
  /* layout styles */
  nav{
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
  }
  nav a{
    text-transform: uppercase;
    color: var(--title);
  }
  nav a span{
    font-weight: bold;
  }
  nav .sidenav-trigger{
    margin: 0;
  }
  
  /* camera styles */
  .cameras{
    margin-top: 20px;
  }
  .card-panel.camera{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details delete";
    position: relative;
  }
  .camera img{
    grid-area: image;
    max-width: 60px;
  }
  .camera-details{
    grid-area: details;
    margin-top: 6px;
  }
  .camera-delete{
    grid-area: delete;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .camera-delete i{
    font-size: 18px;
  }
  .camera-title{
    font-weight: bold;
  }
  .camera-ingredients{
    font-size: 0.8em;
  }
  
  /* form-styles */
  .add-btn{
    background: var(--title) !important;
  }
  input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .side-form button{
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
  }
  form .input-field{
    margin-top: 30px;
  }

  #menu-icon {
    color: #ffffff; /* Blanc */
  }
    .btn-floating {
    background-color: #ffffff; /* Blanc */
    color: #000000; /* Couleur du texte (par exemple, noir) */
  }

  .btn-floating {
    background-color: #ff0000; /* Blanc */
    color: #000000; /* Couleur du texte (par exemple, noir) */
  }

  .add-btn {
    background: #1c6933 !important; 
    color: var(--title) !important; 
  }


  
  /* notification styles */

  #notification-icon {
    position: relative;
    cursor: pointer;
  }
  
  #notification-badge {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  
  .nav-wrapper.container {
    display: flex;
    justify-content: space-between;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  /* Ajoutez cette règle CSS pour créer un espace entre l'icône de menu et l'icône de notification */
  #menu-icon {
    margin-left: 15px; /* Ajustez la valeur selon votre préférence */
  }
    