body {
    margin: 0;
    padding: 0;
    background: url("/img/forest11.jpg") center/cover no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    background-size: 100% 100%;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed to center vertically */
}

.card {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-top: 80px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.card-title {
    font-size: 2rem;
    color: #333;
}

.btn {
    background-color: #1c6933;
}

.btn:hover {
    background-color: #1c6933;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #1c6933;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #1c6933;
    box-shadow: 0 1px 0 0 #1c6933;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .card {
        margin-top: 0px;
    }
}
